@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "/node_modules/bootstrap/scss/_functions.scss";
@import "/node_modules/bootstrap/scss/_variables.scss";
@import "/node_modules/bootstrap/scss/bootstrap.scss";
.container-fluid{height: 100vh;

$grid-breakpoints: (
  xs: 0px,
  sm: 250px,
  md: 500px,  
  lg: 750px,
  xl: 1000px,
  xxl: 1250px,
);

width:100vw}
@include media-breakpoint-between(xs,sm,md) {
  .container-fluid {
    background-color: violet;
  }
}
@include media-breakpoint-between(lg,xl,xxl) {
  .container-fluid {
    background-color: green;
  }
}

  