.row div {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  height: 50px;
  border: black 1px solid;
  background-color: #deba89;
}
.row {
  margin-bottom: 2.5%;
  width: 100%;
}

.container-fluid {
  height: 100vh;
  padding: 2%;
}

@media only screen and (min-width: 1000px) {
  #row3 {
    width: 95%;
  }
}
